<div *ngIf="userList.length>0">
  <div class="row">
    <div class="col-md-4" *ngFor="let user of userList">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">Age: {{ user.age }}</p>
          <div class="btn-group" role="group">
            <button class="btn btn-danger mr-2" (click)="myDelete(user)">Delete</button>
            <button class="btn btn-primary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
