.card {
  animation: slideInUp 0.5s ease;
  background-color: #f8f9fa;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  overflow: hidden;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.error {
  background-color: var(--bg);
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  height: 80vh;
  display: grid;
  place-items: center;
  transition: background-color var(--trans-dur);
}
main {
  padding: 1.5em 0;
}
.ip {
  width: 16em;
  height: 8em;
}
.ip__track {
  stroke: hsl(var(--hue),90%,90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),90%,5%);
    --fg: hsl(var(--hue),90%,95%);
  }
  .ip__track {
    stroke: hsl(var(--hue),90%,15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}








.card-text {
  font-size: 1rem;
}
